.profile-area {
    padding: 70px 0;
}
.card {
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
    background: linear-gradient(14.87deg,#6a11cb 12.55%,#2575fc 108.54%);
}
.img2 img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: 32px;
    height: 112px;
    transition: 0.5s ease;
    transform: rotateZ(10deg);
}

.card:hover .img2 img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: 32px;
    transition: 0.5s;
    transform: rotateZ(10deg) translateY(-60px);
}

.card a
{
    display: inline-block;
    padding: 10px 0;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    margin-right: 90px;
    margin-left: 90px;
    margin-bottom: 20px;
    margin-top: -30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transition: 0.5s;
}
.card:hover a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;

}
.main-text {
    padding: 18px 0 0 0;
}
.main-text h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 38px;
    margin: 0 0 20px;
    padding: 0 20px;
    word-wrap: break-word;
}
.main-text p {
    font-size: 16px;
    padding: 0 35px;
}
.socials {
    text-align: center;
    padding-bottom: 0;
}
.socials i {
    font-size: 20px;
    color: darkcyan;
    padding: 0 0;
}